/* ===== NAVBAR ===== */

.navbar{
    background:#1e3c72;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

/* Desktop Menu */

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
    position:relative;
    transition:.3s;
}

.nav-links a:hover{
    color:#ffd43b;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#ffd43b;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links button{
    background:#e63946;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;
}

.hamburger{
    display:none;
    font-size:28px;
    cursor:pointer;
}

/* ========== MOBILE ========== */

@media(max-width:768px){

    .hamburger{
        display:block;
    }

    .nav-links{
        display:none;
        position:absolute;
        top:65px;
        left:0;
        width:100%;
        background:#1e3c72;
        flex-direction:column;
        align-items:center;
        padding:20px 0;
        gap:20px;
    }

    .nav-links.active{
        display:flex;
    }
}